.menu {
	display: flex;
	flex-flow: row nowrap;
  	justify-content: space-around;
  	align-items: center;
  	background-color: #cc0373;
  	color: white;
  	opacity: 0.8;
}

.menu .item {
	font-size: 1.6rem;
	padding: 8px;
}